@model RealMusic.Dto.AlbumInfoDto

<div class="col-md-3 col-sm-4 shop-grid-item">
    <div class="product-slide-entry">
        <div class="product-image">
            <img src="@Model.ImagePath" alt="" height="195" style="height: 195px;">
            <a class="top-line-a right open-product" data-id="product_@Model.ItemId"><i class="fa fa-expand"></i> <span>Xem album</span></a>
            <div class="bottom-line">
                <a class="bottom-line-a" href="@Url.RouteUrl(OrderControllerRoute.GetCreate, new { albumId = Model.ItemId, quantity = 1 })"><i class="fa fa-shopping-cart"></i> Đặt hàng</a>
            </div>
        </div>
        <a class="tag" style="height: 28px;">@string.Join(", ", Model.Categories.Select(c => c.Name))</a>
        <a class="title open-product" data-id="product_@Model.ItemId">@Model.Name</a>
        <div class="price">
            <div class="current">@Model.Price.ToString("N0") VNĐ</div>
        </div>
    </div>
    <div class="clear"></div>
</div>